<br>
<center>
  <font color=#000000 size=5><b>
    </b>
  </font><br><br>
  <table width=600 cellpadding=2 cellspacing=2 bgcolor=#DDDDDD>
    <tr>
      <td bgcolor=#FFFFFF>
        <table cellspacing=3 cellpadding=4 border=0 width=100%>
          <tr>
            <td bgcolor=#FFFFCC colspan=2 align=left>
              <b><font color=#000000 size=3>
                  □商品詳細
              </font></b>
            </td>
          </tr>
          <tr>
            <td width=5%></td>
            <td width=95% align=left>
              <font color=#330000 size=4>
                <%= item['title'] %>
              </font>
            </td>
          </tr>
          <tr>
            <td width=5%></td>
            <td width=95% align=left>
              <font color=#330000 size=3>
                <ul>
                  <%= item['title'] %>
                  <%- item['features'].each do |feature| -%>
                  <li><%= feature -%></li>
                  <%- end -%>
                </ul>
              </font>
            </td>
          </tr>
          <tr>
            <td width=5%></td>
            <td width=95% align=left>
              <font color=#330000 size=3>
                <ul>
                  <%- item['contents'].each do |content| -%>
                  <li><%= content -%></li>
                  <%- end -%>
                </ul>
                        </font>
            </td>
          </tr>
        </table>
        <table cellspacing=3 cellpadding=4 border=0 width=100%>
          <tr><td bgcolor=#FFFFCC colspan=2 align=left>
              <b><font color=#000000 size=3>
                  □支払詳細
              </font></b>
          </td></tr>
          <tr>
            <td width=5%></td>
            <td width=95% align=left>
              <font color=#333333 size=3>
                ★三井住友銀行<br>
                ★ヤフーかんたん決済<br>
                <br>
                落札価格＋送料＝合計お支払金額<br>
                <br><br>
                代引きは対応しておりません。<br>
                <br>
              </font>
            </td>
          </tr>
        </table>
        <table cellspacing=3 cellpadding=4 border=0 width=100%>
          <tr><td bgcolor=#FFFFCC colspan=2 align=left>
              <b><font color=#000000 size=3>
                  □発送詳細
              </font></b>
</td></tr>
          <tr>
            <td width=5%></td>
            <td width=95% align=left>
              <font color=#333333 size=3>
                全国一律800円<br>
                <br><br>
                ★発送方法<br>
ゆうパック<br>
                ヤマト運輸<br>
                宅急便 <br>
クリックポスト　<br>
                等<br><br>
                (選択不可、お選び頂けません)<br>
                <br><br>
                ※注意事項(ご参照の上ご入札お願い致します。)<br>
★在庫の保管状況によりまして、同梱は一切出来ません。<br>
                ★送料は複数購入の際は1点ずつ請求させていただいきます。<br>
                ★局留め対応は致しておりません<br>
                <br>
                在庫の状況によりアマゾン契約倉庫に納付している在庫より<br>
                アマゾンの箱にて送付する場合もございます。<br>
                ご了承くださいませ。<br>
                <br>
              </font>
            </td>
          </tr>
        </table>
        <table cellspacing=3 cellpadding=4 border=0 width=100%>
          <tr><td bgcolor=#FFFFCC colspan=2 align=left>
              <b><font color=#000000 size=3>
                  □落札後のお客様の流れ
              </font></b>
          </td></tr>
          <tr>
            <td width=5%></td>
            <td width=95% align=left>
              <font color=#333333 size=3>
                取引を迅速に行うため落札後<br>
                落札者様よりご入金とかんたん取引への情報をご連絡をお願いします。<br>
                <br>
                取引ナビではなく<br>
                かんたん取引へお願い致します。 <br>
                <br>
              </font>
            </td>
          </tr>
        </table>
        <table cellspacing=3 cellpadding=4 border=0 width=100%>
          <tr><td bgcolor=#FFFFCC colspan=2 align=left>
              <b><font color=#000000 size=3>
                  □注意事項
              </font></b>
          </td></tr>
          <tr>
            <td width=5%></td>
            <td width=95% align=left>
              <font color=#333333 size=3>
                ※落札後2日間ご連絡がない場合はお客様都合で<br>
                キャンセル扱いとさせていただきます。<br>
                <br>
                <br>
                ※商品落札後2日以内にご連絡3日以内にご入金の方お願い致します。<br>
                <br>
                お手持ちのパソコン・携帯の画面により商品のお色に若干の差がございます。<br>
                <br>
                画像をご参考上ノークレーム・ノーリターンで宜しくお願い致します。<br>
                <br>
                ご落札後のご質問にはお答えできません。<br>
                <br>
                製品のサポートは行っておりませんので ご了承ください。<br>
                <br>
                サイズ/色/イメージ違いでの交換・返品はお断りをしております。<br>
                <br>
                悪い評価が多い方のご入札はお断りしております。<br>
                <br>
                基本は入金確認後、即発送を心がけておりますが 人気商品のため在庫が切らす場合がございます。 <br>
                <br>
                本品は輸入品の為、外箱にへこみ・傷等ある場合がございますが商品関しては問題ありません。 <br>
                <br>
                <br>
                <br>
                ★丁寧、迅速に対応いたします。<br>
                <br>
                ★消費税や、落札手数料は頂いておりません。<br>
                <br>
                ★土日祝祭日は質問や落札されてもメールや商品発送等、対応できない日もございます。ご了承下さい。 <br>
              </font>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br>
  <font color=#999999 size=1>+ + +　この商品説明は</font> <a href=http://www.auclinks.com/ target=_blank><font color=#666666 size=1>オークションプレートメーカー２</font></a> <font color=#999999 size=1>で作成しました 　+ + +
  </font><font color=#FFFFFF size=1><br>No.202.005.002</font><br>
</center>















        <ul>
          <br>
            <font color=#FF6600 size=5><b>
            </b></font><br><br>
            <table width=600 cellpadding=2 cellspacing=2 bgcolor=#FF0000>
              <tr>
                <td bgcolor=#FFFFDD>
                  <table cellspacing=3 cellpadding=4 border=0 width=100%>
                    <tr>
                      <td bgcolor=#FF6600 colspan=2 align=left>
                        <b><font color=#FFFFFF size=3>
                            □商品詳細
                        </font></b>
                      </td>
                    </tr>
                    <tr>
                      <td width=5%></td>
                      <td width=95% align=left>
                        <font color=#330000 size=4>
                          <%= item['title'] %>
                        </font>
                      </td>
                    </tr>
                    <tr>
                      <td width=5%></td>
                      <td width=95% align=left>
                        <font color=#330000 size=3>
                          <ul>
                            <%= item['title'] %>
                            <%- item['features'].each do |feature| -%>
                            <li><%= feature -%></li>
                            <%- end -%>
                          </ul>
                        </font>
                      </td>
                    </tr>
                    <tr>
                      <td width=5%></td>
                      <td width=95% align=left>
                        <font color=#330000 size=3>
                          <ul>
                            <%- item['contents'].each do |content| -%>
                            <li><%= content -%></li>
                            <%- end -%>
                          </ul>
                        </font>
                      </td>
                    </tr>
                  </table>
