<table style="width: 100%; border-collapse: collapse !important;">
  <tbody>
    <tr>
      <th style="padding: 10px; border: 1px solid rgb(14, 88, 151); border-image: none; width: 20%; color: rgb(255, 255, 255); vertical-align: middle; white-space: nowrap; background-color: rgb(46, 150, 211);">
        <br>
        商品名
        <br>
        <br>
      </th>
      <td style="padding: 20px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
        <%= item['title'] %>
      </td>
    </tr>
    <tr>
      <th style="padding: 10px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(255, 255, 255); vertical-align: middle; white-space: nowrap; background-color: rgb(46, 150, 211);">
        ブランド
      </th>
      <td style="padding: 20px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
        <%= item['headline'] %>
      </td>
    </tr>
    <tr>
      <th style="padding: 10px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(255, 255, 255); vertical-align: middle; white-space: nowrap; background-color: rgb(46, 150, 211);">
        JAN
      </th>
      <td style="padding: 20px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
        <%= item['jan'] %>
      </td>
    </tr>
    <tr>
      <th style="padding: 10px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(255, 255, 255); vertical-align: middle; white-space: nowrap; background-color: rgb(46, 150, 211);">
        商品仕様
      </th>
      <td style="padding: 20px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
        <ul>
          <%- item['features'].each do |feature| -%>
          <li><%= feature -%></li>
          <%- end -%>
        </ul>
      </td>
      <td>
        <ul>
          <%- item['contents'].each do |content| -%>
          <li><%= content -%></li>
          <%- end -%>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<p>
</p>

