<div class="container">

  <h3>検索条件一覧（ラベル: <%= @label.name %>）</h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ラベル</th>
        <th>キーワード</th>
        <th>除外ワード</th>
        <th>カテゴリ</th>
        <th>プライム指定</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <% @search_conditions.each do |search_condition| %>
      <tr>
        <td><%= search_condition.label_id %></td>
        <td><%= search_condition.keyword %></td>
        <td><%= search_condition.negative_match %></td>
        <td><%= search_condition.category %></td>
        <td><% if search_condition.is_prime == 1 %>あり<% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
