<div class="container">

  <a href="/labels/new">
    <button class="btn btn-primary">新規作成</button>
  </a>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ラベル名</th>
        <th>編集</th>
        <th>削除</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td>
          <a href="/labels/<%= label.id %>/update">編集</a>
        </td>
        <td>
          <a href="/labels/<%= label.id %>/delete" onclick="return confirm('本当に削除しますか？')">削除</a>
        </td>
        <td>
          <a href="/labels/<%= label.id %>/search_conditions">
            <button class="btn btn-success">検索条件をみる</button>
          </a>
        </td>
        <td>
          <a href="/labels/<%= label.id %>/items">
            <button class="btn btn-info">商品をみる</button>
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
