<h3>一括で検索条件をラベルに登録する</h3>
<pre>複数の検索条件を一括でラベルに登録します。1ラベルあたり20検索条件になります。</pre>
<%= form_tag("/bulks/#{current_user.id}/add_search_conditions", method: :post) do %>
  <div class="form-group">
    <label>ラベル</label>
    <input name="label" class="form-control">
  </div>
  <div class="form-group">
    <label>キーワード</label>
    <textarea id="bulk_keyword" name="keyword" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label>除外ワード</label>
    <input name="negative_match" class="form-control">
  </div>
  <div class="form-group">
    <label>カテゴリ</label>
    <select name="category" class="form-control">
      <option value="All">すべてのカテゴリー</option>
      <option value="Books">本</option>
      <option value="ForeignBooks">洋書</option>
      <option value="Music">ミュージック</option>
      <option value="Classical">クラシック</option>
      <option value="DVD">DVD</option>
      <option value="VideoGames">TVゲーム</option>
      <option value="Software">PCソフト</option>
      <option value="PCHardware">パソコン・周辺機器</option>
      <option value="Electronics">家電&カメラ</option>
      <option value="OfficeProducts">文房具・オフィス用品</option>
      <option value="Kitchen">ホーム&キッチン</option>
      <option value="PetSupplies">ペット用品</option>
      <option value="HealthPersonalCare">ヘルス&ビューティー</option>
      <option value="Beauty">コスメ</option>
      <option value="Grocery">食品・飲料・お酒</option>
      <option value="Baby">ベビー＆マタニティ</option>
      <option value="Appaerl">服＆ファッション小物</option>
      <option value="Shoes">シューズ＆バッグ</option>
      <option value="Watches">腕時計</option>
      <option value="Jewelry">ジュエリー</option>
      <option value="Toys">おもちゃ</option>
      <option value="Hobbies">ホビー</option>
      <option value="MusicalInstruments">楽器</option>
      <option value="SportingGoods">スポーツ&アウトドア</option>
      <option value="Automotive">カー・バイク用品</option>
      <option value="HomeImprovement">DIY・工具</option>
      <option value="Appliances">大型家電</option>
      <option value="Industrial">産業・研究開発用品</option>
    </select>
  </div>
  <div class="checkbox">
    <label>
      <input name="is_prime" type="checkbox" value="1">Amazonプライム指定
    </label>
  </div>
  <div class="form-group">
    <label>新品商品の出品者数</label>
    <input style="width:150px;" name="min_offer_count" class="form-control">
    出品者以上。例えば、 3 と設定した場合、出品者数が 3 以上の商品が条件に当てはまります。
  </div>
  <%= submit_tag '上記検索条件を一括登録', :class => "btn btn-primary" %>
<% end %>

<h3>一括で不正商品を確認する</h3>
<pre>
  全ラベルのすべての商品の "在庫チェック", "禁止ワードチェック", "新品商品の出品者数チェック" を行い、チェックに引っかかった不正商品code一覧をCSV出力します。
</pre>
<%= form_tag("/bulks/#{current_user.id}/check_items", method: :post) do %>

<h4>商品チェックオプション</h4>
  <div class="form-group">
    <label>新品商品の出品者数</label>
    <input style="width:150px;" name="min_offer_count" class="form-control">
    より出品者数が少ない場合、不正商品とみなします。3 と設定した場合、出品者数が 2 以下だと不正商品とみなされます。
  </div>

  <%= submit_tag '不正商品code一覧のCSVダウンロード', :class => "btn btn-danger" %>
<% end %>

<h3>不正商品を削除する</h3>
<pre>
  不正商品を本ツール上から削除します。
</pre>
<%= form_tag("/bulks/#{current_user.id}/delete_items", method: :post, multipart: true) do %>
  <%= file_field_tag :csv_file %>
  <%= submit_tag  '削除', :class => "btn btn-danger" %>
<% end %>
