<h3>商品一覧（ラベル: <%= @label.name %>）</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>code</th>
      <th>商品名</th>
      <th>プライム指定</th>
      <th>追加日</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.code %></td>
      <td><%= item.name %></td>
      <td><% if item.is_prime == 1 %>◯<% end %></td>
      <td><%= item.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td>
        <a href="/labels/<%= current_user.id %>/<%= @label.id %>/items/<%= item.id %>/delete" onclick="return confirm('本当に削除しますか？')">削除</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>

<h3>商品画像をダウンロードする</h3>
<pre>上記一覧の商品画像を出力します。（このラベルのすべての商品ではなく、表示している商品のみ）</pre>
<%= form_tag("/labels/#{current_user.id}/#{@label.id}/#{@page}/download_imgs", method: :post) do %>
  <%= submit_tag '上記一覧の商品画像をダウンロード', :class => "btn btn-primary" %>
<% end %>

<hr>

<h3>商品一覧をCSVダウンロードする</h3>
<pre>
  このラベルのすべての商品をCSV出力します。CSV出力する際のオプションを以下で設定してください。ダウンロードには、"商品数/600" 分程度かかります。
  不正商品(在庫がない商品、禁止ワードに引っかかっている商品、新品商品の出品者数が条件を満たさない商品)は上記CSVには含まれず、不正商品(ラベル名).csvとして出力されます。
</pre>

<%= form_tag("/labels/#{current_user.id}/#{@label.id}/download_items", method: :post) do %>
  <h4>CSVオプション</h4>

  <div class="form-group">
    <label>path 指定</label>
    <input name="path" class="form-control">
  </div>
  <div class="form-group">
    <label>price 一括調整</label>
    <div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="price_option_unit" class="price-option-unit" value="yen" checked>円
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="price_option_unit" class="price-option-unit" value="per">%
        </label>
      </div>
    </div>
    <input id="price-option-value" name="price_option_value" class="form-control" type="number" step="0.0001" min="0.0001">
    <div id="price-option-preview"></div>
  </div>

  <div class="form-group">
    <label>explanation 指定</label>
    <input name="explanation" class="form-control">
  </div>

  <h4>商品チェックオプション</h4>
  <div class="form-group">
    <label>新品商品の出品者数</label>
    <input style="width:150px;" name="min_offer_count" class="form-control">
    より出品者数が少ない場合、不正商品とみなします。3 と設定した場合、出品者数が 2 以下だと不正商品とみなされます。
  </div>

  <%= submit_tag 'このラベルのすべての商品をCSVダウンロード', :class => "btn btn-primary" %>
<% end %>

<hr>

<h3>不正商品を確認する</h3>
<pre>
  このラベルのすべての商品の  "在庫チェック", "禁止ワードチェック", "新品商品の出品者数チェック" を行い、チェックに引っかかった不正商品code一覧をCSV出力します。
</pre>
<%= form_tag("/labels/#{current_user.id}/#{@label.id}/check_items", method: :post) do %>

<h4>商品チェックオプション</h4>
  <div class="form-group">
    <label>新品商品の出品者数</label>
    <input style="width:150px;" name="min_offer_count" class="form-control">
    より出品者数が少ない場合、不正商品とみなします。3 と設定した場合、出品者数が 2 以下だと不正商品とみなされます。
  </div>

  <%= submit_tag '不正商品code一覧のCSVダウンロード', :class => "btn btn-danger" %>
<% end %>

<h3>不正商品を削除する</h3>
<pre>
  不正商品を本ツール上から削除します。
</pre>
<%= form_tag("/labels/#{current_user.id}/#{@label.id}/delete_items", method: :post, multipart: true) do %>
  <%= file_field_tag :csv_file %>
  <%= submit_tag  '削除', :class => "btn btn-danger" %>
<% end %>
