<h3>商品一覧（ラベル: <%= @label.name %>）</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>code</th>
      <th>商品名</th>
      <th>プライム指定</th>
      <th>追加日</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.code %></td>
      <td><%= item.name %></td>
      <td><% if item.is_prime == 1 %>◯<% end %></td>
      <td><%= item.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td>
        <a href="/labels/<%= current_user.id %>/<%= @label.id %>/items/<%= item.id %>/delete" onclick="return confirm('本当に削除しますか？')">削除</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>

<h3>商品画像をダウンロードする</h3>
<pre>上記一覧の商品画像を出力します。（このラベルのすべての商品ではなく、表示している商品のみ）</pre>
<%= form_tag("/labels/#{current_user.id}/#{@label.id}/#{@page}/download_imgs", method: :post) do %>
  <%= submit_tag '上記一覧の商品画像をダウンロード', :class => "btn btn-primary" %>
<% end %>

<hr>

<h3>商品一覧をCSVダウンロードする</h3>
<pre>このラベルのすべての商品をCSV出力します。CSV出力する際のオプションを以下で設定してください。ダウンロードには、"商品数/600" 分程度かかります。</pre>

<%= form_tag("/labels/#{current_user.id}/#{@label.id}/download_items", method: :post) do %>
  <h4>オプション</h4>

  <div class="form-group">
    <label>path 指定</label>
    <input name="path" class="form-control">
  </div>
  <div class="form-group">
    <label>price 一括調整</label>
    <div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="price_option_unit" class="price-option-unit" value="yen" checked>円
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="price_option_unit" class="price-option-unit" value="per">%
        </label>
      </div>
    </div>
    <input id="price-option-value" name="price_option_value" class="form-control" type="number" step="0.0001" min="0.0001">
    <div id="price-option-preview"></div>
  </div>

  <div class="form-group">
    <label>explanation 指定</label>
    <input name="explanation" class="form-control">
  </div>

  <%= submit_tag 'このラベルのすべての商品をCSVダウンロード', :class => "btn btn-primary" %>
<% end %>

<hr>

<h3>商品の在庫を確認する</h3>
<pre>このラベルのすべての商品の在庫を確認します。在庫がなくなった商品code一覧をCSV出力します。また、在庫がなくなった商品は削除します。</pre>
<%= form_tag("/labels/#{current_user.id}/#{@label.id}/check_stock", method: :post) do %>
  <%= submit_tag '在庫がない商品のcode一覧をCSVダウンロード & 在庫がない商品を削除', :class => "btn btn-danger" %>
<% end %>
