<div class="container">

  <ul class="list-inline">
    <li>
      <b>キーワード</b>
      <%= @search_info['keyword'] %>
    </li>
    <li>
      <b>除外ワード</b>
      <%= @search_info['negative_match'] %>
    </li>
    <li>
      <b>カテゴリ</b>
      <%= @search_info['category'] %>
    </li>
    <% if @search_info['is_prime'] == 1 then %>
    <li>
      <b>Amazonプライム指定</b>
    </li>
    <% end %>
  </ul>

  <div class="alert alert-info" role="alert">該当する商品は <b><%= @search_info['item_total'] %></b> 件あります。(csvダウンロードできるのは最大 <%= @search_info['max_export'] %> 件)</div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Titile</th>
        <th>Price</th>
        <th>Headline</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tbody">
      <% @items.each do |item| %>
      <tr>
        <td><a href="<%= item['url'] %>" target="_blank"><%= item['title'] %></a></td>
        <td><%= item['price'] %></td>
        <td><%= item['headline'] %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      <% pages = (1..@page['last_page']).to_a %>
      <% pages.each do |page| %>
      <li <% if page == @page['current_page'] %>class="active"<% end %> value="<%= page %>">
        <a href="#">
          <%= page %>
        </a>
      </li>
      <% end %>
    </ul>
  </nav>

  <button type="submit" class="btn btn-primary">検索条件を保存</button>
</div>
